* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 25px;
}

h1 {
  font-size: 50px;
}

#login {
  text-align: center;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  position: relative;
}

.app:before {
  content: "";
  background: #2a2b2a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

#search {
  text-align: center;
  margin-right: 10px;
}

#logOut {
  margin-left: 33%;
}
#favoritePlace {
  margin-left: 10px;
}

button {
  background-color: rgba(0, 0, 0, 0.4);
  color: #f8f8f8;
  border-radius: 20px;
  margin: 0; /* Remove default margin */
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.4);
  color: #f8f8f8;
  width: 100%; /* Take the full width */
  margin-bottom: 10px; /* Add margin for spacing */
}

::placeholder {
  color: #f8f8f8;
}

.container {
  text-align: center;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.container .top {
  margin-top: 100px;
}

.container .top,
.container .bottom {
  width: 100%;
  max-width: 800px; /* Set a maximum width for better readability */
}

.container .bottom {
  background-color: gray;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
  margin-top: auto;
  width: 150%;
  margin-bottom: 20px;
}

.container .bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container .bottom ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  height: auto;
}

.container .bottom ul li p {
  margin-left: 10px;
  font-size: 25px;
}
.container .bottom ul li .description {
  font-size: 30px;
}
.container .top .description .description-icon {
  font-size: 70px;
}
.container .bottom .delete_button {
  margin-left: 20px;
  font-size: 20px;
}
